@use '../css/_fonts.scss' as *;

.heroBanner {
  --ifm-heading-color: #fff;

  width: 100%;
  height: calc(357px + 23vw);
  padding-top: 20px;
  min-height: 450px;
  max-height: 725px;
  overflow: hidden;
  position: relative;
  background: linear-gradient(150deg, #000000, #15216b, #ffffff);
  background-size: 300% 300%;
  animation: gradientShift 4s infinite;

  @media only screen and (max-width: 550px) {
    height: calc(450px + 10vw); /* Adjust height */
    min-height: 550px;
  }

  @media only screen and (max-width: 445px) {
    height: calc(500px + 10vw); /* Further increase height */
    min-height: 600px; /* Ensure extra space */
  }

  @keyframes gradientShift {
    0% {
      background-position: 0% 50%;
    }
    25% {
      background-position: 50% 100%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 50% 0%;
    }
  }

  @media only screen and (max-width: 375px) {
        background-position-x: -379px;
        background-position-y: -53px;
        background-size: 1100px;
    }

    @media only screen and (max-width: 890px) {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    @media only screen and (max-width: 1200px) {
        --ifm-spacing-horizontal: 1.625rem;
    }

    @media only screen and (min-width: 1600px) {
        background-position-x: center;
        background-position-y: bottom;
        background-size: cover;
    }
}

.title {
    @include h2;
    font-size: 120px;
    line-height: normal;
    letter-spacing: -6px;
    margin-left: -10px;

    @media only screen and (max-width: 890px) {
        font-size: 72px;
        line-height: normal;
        letter-spacing: -3.6px;
        margin-left: -6px;
    }
}

.tagline {
    @include t1;
    max-width: 450px;
    min-height: 60px;
    margin-top: -30px;
    margin-bottom: 32px;
    letter-spacing: 0.1px;

    @media only screen and (max-width: 890px) {
        margin-top: -22px;
        margin-bottom: 21px;
    }
}

.buttons {
    height: 50px;
}

.linkText {
    @include t2;
    font-size: 17px;
    color: var(--ifm-color-gray-900);
    background-color: var(--ifm-button-background-color);
    min-width: 250px;
    padding: 12px 20px;
    border: 0;
    border-radius: 10px;
}

.bottomRightGif {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 850px;
  height: auto;
  border-radius: 8px;

  @media only screen and (max-width: 1200px) {
    width: 600px;
    bottom: 15px;
    right: 15px;
  }

  @media only screen and (max-width: 950px) {
    width: 550px;
    bottom: 10px;
    right: 10px;
  }

  @media only screen and (max-width: 896px) {
    width: 500px;
    bottom: 25px;
    right: 8px;
  }

  @media only screen and (max-width: 845px) {
    width: 450px;
    bottom: 45px;
    right: 5px;
  }

  @media only screen and (max-width: 785px) {
    width: 400px;
    bottom: 45px;
    right: 5px;
  }

  @media only screen and (max-width: 746px) {
    width: 275px;
    left: 20px;
    right: auto;
    bottom: 20px;
  }

  @media only screen and (max-width: 550px) {
    width: 275px;
    left: 20px;
    right: auto;
    bottom: 5px;
  }
}
