@use 'sass:color';

@mixin define-detox-extra-colors() {
  // Define the base colors
  $color: (
    'r': #3ba337,
    'y': #4bba47,
    'b': #57c353,
    'u': #296f26,
    'e': #79d97a
  );

  // Define the transparency levels
  $alpha: (
    '0': 1,
    '1a': 0.54,
    '2a': 0.35,
    '3a': 0.25,
    '4a': 0.15,
    '5a': 0.7
  );

  @each $key, $hex in $color {
    @each $level, $fraction in $alpha {
      --detox-color-#{$key}#{$level}: #{color.adjust($hex, $alpha: 1 - $fraction)};
    }
  }
}

@mixin define-detox-colors($map) {
  @each $key, $hex in $map {
    --detox-color-#{$key}: #{$hex};
  }
}

@mixin define-detox-light-colors() {
  @include define-detox-colors((
    'a0': #ffffff,
    'a1': #ffffff,
    'a2': #ffffff,
    'a3':  #e0e0e0,
    'a4': #ffffff,
    'a5': #d9e5f6
  ));
}

@mixin define-detox-dark-colors() {
  @include define-detox-colors((
    'a0': #040810,
    'a1': #020408,
    'a2': #010204,
    'a3': #03060a,
    'a4': #04080e,
    'a5': #050a14
  ));
}

:root {
  --ifm-color-primary: #3ba337;
  --ifm-color-primary-dark: #2d7d2a;
  --ifm-color-primary-darker: #296f26;
  --ifm-color-primary-darkest: #245f21;
  --ifm-color-primary-light: #4bba47;
  --ifm-color-primary-lighter: #57c353;
  --ifm-color-primary-lightest:  #79d97a;

  --sci-fi-light-gradient: linear-gradient(135deg, #e0f7fa 0%, #b2ebf2 50%, #80deea 100%);
  --sci-fi-dark-gradient: linear-gradient(135deg, #00251a 0%, #004d40 50%, #00796b 100%);
  --section-background-gradient: var(--sci-fi-light-gradient);
  
  --sci-fi-subtle-glow: 0 0 15px rgba(59, 163, 55, 0.8);
  --sci-fi-gradient: linear-gradient(135deg, 
                     rgba(59, 163, 55, 0.5) 0%,
                     rgba(45, 125, 42, 0.3) 100%);
  --sci-fi-border: 1px solid rgba(59, 163, 55, 0.15);
  --sci-fi-bg-dark: #0a1219;
  --sci-fi-bg-darker: #060c11;

  --sci-fi-bg-light: #9a9a9a;
  --sci-fi-bg-lighter: #616161;

  --sci-fi-text-glow: 0 0 1px rgba(59, 163, 55, 0.5);
}

[data-theme='dark'] {
  --ifm-background-color: var(--sci-fi-bg-dark);
  --ifm-background-surface-color: var(--sci-fi-bg-darker);
  --ifm-navbar-background-color: rgba(10, 18, 25, 0.85);
  --ifm-footer-background-color: rgba(6, 12, 17, 0.95);
  --ifm-color-primary: #3ba337;
  --ifm-color-primary-dark: #2d7d2a;
  --ifm-color-primary-darker: #296f26;
  --ifm-color-primary-darkest: #245f21;
  --ifm-color-primary-light: #4bba47;
  --ifm-color-primary-lighter: #57c353;
  --ifm-color-primary-lightest: #79d97a;
}

[data-theme='light'] {
  --ifm-background-color: var(--sci-fi-light-gradient);
  --ifm-background-surface-color: var(--sci-fi-light-gradient);
  --ifm-navbar-background-color: rgba(10, 18, 25, 0.85);
  --ifm-footer-background-color: rgba(6, 12, 17, 0.95);
  --ifm-color-primary: #3ba337;
  --ifm-color-primary-dark: #2d7d2a;
  --ifm-color-primary-darker: #296f26;
  --ifm-color-primary-darkest: #245f21;
  --ifm-color-primary-light: #4bba47;
  --ifm-color-primary-lighter: #57c353;
  --ifm-color-primary-lightest: #79d97a;
}
