@use '../css/_fonts.scss' as *;

.footer {
  @include t2;

  [data-theme='light'] & {
    border-top: 1px solid rgba(19, 20, 25, 0.15);
  }

  [data-theme='dark'] & {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-top: 1px solid var(--detox-color-a3);
  }

  &__title {
    @include t2b;
  }

  &__link-item {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: left center;

    &_git-hub {
      padding-left: 30px;
      [data-theme='light'] & {
        background-image: url('/img/footer/gh-footer-light.svg');
      }

      [data-theme='dark'] & {
        background-image: url('/img/footer/gh-footer-dark.svg');
      }
    }

    &_twitter {
      padding-left: 30px;
      [data-theme='light'] & {
        background-image: url('/img/footer/twitter-footer-light.svg');
      }

      [data-theme='dark'] & {
        background-image: url('/img/footer/twitter-footer-dark.svg');
      }
    }

    &_discord {
      padding-left: 30px;
      [data-theme='light'] & {
        background-image: url('/img/footer/discord-footer-light.svg');
      }

      [data-theme='dark'] & {
        background-image: url('/img/footer/discord-footer-dark.svg');
      }
    }
  }

  .footer__col_more {
    & > .footer__link-item {
      display: inline; // Ensure proper inline styling for items in `.footer__col_more`
    }
  }

  @media only screen and (min-width: 320px) and (max-width: 996px) {
    &__col_more > &__items {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      max-width: 325px;
    }
  }

  @media only screen and (max-width: 996px) {
    &__col {
      margin-bottom: calc(var(--ifm-spacing-vertical) * 2.8);
    }

    &__col_more &__title {
      margin-bottom: 7px;
    }

    &__link-item a {
      margin-bottom: 12px;
    }
  }
}
